[Unit]
Description=Waydroid Container

[Service]
BusName=id.waydro.Container
ExecStart=/opt/openfde/usr/bin/waydroid -w container start

[Install]
WantedBy=multi-user.target
